
.confirmacion-container {
    text-align: center;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.confirmacion-titulo {
    font-size: 1.8rem;
    color: #4CAF50;
    margin-bottom: 20px;
    font-weight: bold;
}

.confirmacion-detalles {
    text-align: left;
    margin-top: 20px;
    font-size: 1rem;
    line-height: 1.5;
}

.confirmacion-detalles h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
}

.btn.volver-inicio {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #855BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn.volver-inicio:hover {
    background-color: #6A48D7;
}

.correousuario {
    color: #6A48D7;
    font-weight: bold;
}